/* MainContent.css */
.main-content {
    position: relative; /* Ensure absolute positioning within the main content */
    padding: 0;
    margin-top: 20vw; /* Space below the fixed header */
  }
  .main-title{
    font-size:6vw;
    display:block;
    position: relative;
    top: -40vw;
  }
  
  .cuny-students-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra spacing */
    margin: 0 auto; /* Center the image horizontally */
    opacity: 0.35
  }

  .subtitle{
    position: relative;
    top:-42vw;
    font-size: 3vw;
    font-weight: 400;
  }

  .join-button{
    display:inline-block;
    font-size: 2vw;
    width:40vw;
    height:3.5vw;
    position: relative;
    top: -40vw;
    padding: 0;
    background-color: #000000;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .join-button:hover{
    background-color: #0056b3;
  }
  
  .categories {
    display: block;
    margin-top: -25vw;
  }

  .categories .category-title {
    margin-top: 0px;
    display: block;
}

.icon{
  font-size: 50px;
  position: relative;
  right:100px;
}

/* Specific styling for h2 within categories */
.categories h2.category-title {
    font-size: 44px !important; /* Larger font size for h2 */
    color: #1E1E1E !important;
}

/* Specific styling for p within categories */
.categories p.category-title {
    font-size: 24px !important; /* Smaller font size for p */
    color: #757575; /* Optional: set a different color */
    margin-bottom: 50px;
}
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .categories p {
    font-size: 16px;
    color: #757575;
  }
  
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    justify-content: center; /* Center the grid items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    margin-bottom: 50px;
  }
  
  .grid-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 320px;
    min-width: 160px;
    background: #FFFFFF;
    border-left: 1px solid #000000;
    border-radius: 8px;
    text-align: left;
  }
  
  .grid-item h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1E1E1E;
    text-align: left;
  }
  
  .grid-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: left;
  }

  @media (min-width: 600px){
    .main-content {
      margin-top: 10vw; /* Space below the fixed header */
    }
  }