/* MainContent.css */
.main-content {
    position: relative; /* Ensure absolute positioning within the main content */
    padding: 0;
    margin-top: 99px; /* Space below the fixed header */
  }

  .title-block{
    position: relative;
  }

  .main-title{
    font-size:6vw;
    display:block;
    position: relative;
    bottom: 35vw;
  }
  
  .cuny-students-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra spacing */
    margin: 0 auto; /* Center the image horizontally */
    opacity: 0.35
  }

  .subtitle{
    position: relative;
    bottom:35vw;
    font-size: 3vw;
    font-weight: 400;
  }

  .join-button{
    font-size: 2vw;
    width:40vw;
    height:5vw;
    position: relative;
    bottom: 33vw;
    padding: 0;
    background-color: #000000;
  }
  
  .categories {
    padding: 20px;
    align-items: center;
  }
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .categories p {
    font-size: 16px;
    color: #757575;
  }
  
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    justify-content: center; /* Center the grid items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .grid-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 320px;
    min-width: 160px;
    height: 180px;
    background: #FFFFFF;
    border-left: 1px solid #000000;
    border-radius: 8px;
    text-align: left;
  }
  
  .grid-item h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1E1E1E;
  }
  
  .grid-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
  }
  