/* MainContent.css */

.categories {
    margin-top: 12vh;;
    padding: 20px;
    align-items: center;
  }
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .categories p {
    font-size: 16px;
    color: #757575;
  }
  
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    justify-content: center; /* Center the grid items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .grid-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 320px;
    min-width: 160px;
    height: 180px;
    background: #FFFFFF;
    border-left: 1px solid #000000;
    border-radius: 8px;
    text-align: left;
  }
  
  .grid-item h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1E1E1E;
  }
  
  .grid-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
  }
  